<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-4">
        <input
          type="text"
          class="form-control"
          placeholder="Search by name"
          [(ngModel)]="name"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchByName()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Customer List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let customer of customers; let i = index"
          [class.active]="i == currentIndex"
          (click)="setCurrentCustomer(customer, i)"
        >
        {{customer.name}}
  
        </li>
      </ul>
  
      
    </div>
    <div class="col-md-6">
      <div *ngIf="currentCustomer">
        <h4>Customers</h4>
        <div>
          <label><strong>Name:</strong></label>
          {{currentCustomer.name}}
        </div>
        <div>
          <label><strong>Email:</strong></label>
          {{currentCustomer.email}}
  
        </div>
        <div>
          <label><strong>Phone number:</strong></label>
          {{currentCustomer.phone}}
  
        </div>
  
        <a class="badge badge-warning" routerLink="/customers/{{currentCustomer.id}}">
          Edit
        </a>

      </div>
  
      <div *ngIf="!currentCustomer">
        <br />
        <p>Please click on a customer</p>
      </div>
    </div>
  </div>
